.classesSpace{
    padding: 10px 20px;

    .user_list{
        max-width: 1200px;
    }
    
    .el-dialog__body{
        text-align: center;
    }
    .el-dialog__body .el-switch{
        display: block;
        margin: 24px 0;
    }

    .el-divider--horizontal{
        background-color: #444;
        margin: 14px 0s;
    }

    .tab-classes{
        margin-left: 20px;
        margin-bottom: 10px;
    
        span{
            padding: 0 20px;
            font-size: 14px;
            cursor: pointer;
            border-right: 1px solid #333;
        }
        span:last-child{
            border: none;
        }
        span.active{
            font-size: 16px;
            font-weight: bold;
        }
    }
}
.classesInfo{
    display: flex;
    
    h2{
        width: 30%;
    }
    .details{
        width: 70%;
    }

    ul{
        height: 100%;
        display: flex;
        align-items: center;
    }
    ul li {
        padding-right: 24px;
    }
}
//表格居中
.el-table{

    .cell{
        text-align: center;
    }
}


